
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mohave:wght@700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nothing+You+Could+Do&display=swap');

:root {
	--primary-color: #181b21;
	--secondary-color: #5c5d61;
}

html {
    scroll-behavior: smooth;
  }


body {
	font-family: 'Montserrat', sans-serif;
	max-width: 100vw;
    line-height: 1.15;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.tesla-header {
    margin-top: 1.5em;
    height: 1rem;
    width: 100%;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.logo {
   height: 100%;
   width: 13rem;
   
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style: none;
}

li {
    margin-left: 15px;
}

.center {
    display: flex;
    align-items: center;
}

.right{

    display: inline-block;
    text-decoration: none;
    margin-right: 2em;
    
}

.h-nav-btn {
    margin-left: 2em;
}

.full-section.no-scroll {
        overflow-y: hidden;
        max-height: 100vh;

}



.one {
    background: url("img/home 1.jpg");
}

.two {
    background: url("img/home 2.jpg");
}

.three {
    background: url("img/home 3.jpg");
}

.four {
    background: url("img/home 4.jpg");
}

.five {
    background: url("img/home 5.jpg");
}

.six {
    background: url("img/home 6.jpg");
}

.seven {
    background: url("img/home 7.jpg");
}


.section-content-title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.section-content-subtitle{
	font-size: 1rem;
	font-weight: 500;
}


.section{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    

}


.section-content {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
	text-align: center;
	text-transform: capitalize;
	color: var(--primary-color);
}

.section_button {

    position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
	width: 40%;
    height: 7%;
	text-align: center;
	display: flex;
	justify-content: space-between;

}

.section_btn {
    font-size: 1rem;
	font-weight: 500;
	padding: 1rem;
	border-radius: 2rem;
	flex-basis: 80%;
	margin-left: 2rem;
	text-transform: capitalize;
}

.btn-primary {
    background: rgba(23, 26, 42, 0.8);
	color: white;
}

.btn-secondary {
    background: rgba(255, 255, 255, 0.65);
	color: var(--primary-color);

}

#footer {
    position: relative;
}

.footer {
    position: absolute;
	z-index: 100;
	bottom: 0;
	width: 100%;
}

.footer ul {
	width: 80%;
	margin: 2rem auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.footer ul li {
	margin: 0 1rem;
	margin-top: 1rem;
	text-transform: capitalize;
	font-weight: 800;
}

.footer ul li a {
	color: var(--secondary-color);
	font-size: 0.8rem;
}


